<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.labwinner.dao.MeasurementTypeDao">

<resultMap id="measurementTypeMap" type="com.labwinner.domain.MeasurementType">
        <id column="measure_type" property="measureType" />
        <result column="type_name" property="typeName" />
        <result column="basic_unit" property="basicUnit" />
         <result column="type_sourece" property="typeSource" />
 </resultMap>

	<!-- 获取所有对象列表 -->
	<select id="getAll" resultType="com.labwinner.domain.MeasurementType" resultMap="measurementTypeMap">
		select * from measurement_type where type_sourece = 1
	</select>
	
	<!-- 获取所有对象列表 -->
	<select id="getList" resultType="com.labwinner.domain.MeasurementType" resultMap="measurementTypeMap">
		select * from measurement_type
	</select>
	
	<!-- 获取所有对象列表 -->
	<select id="getByName" resultType="Integer">
		select count(*) from measurement_type where type_name = #{name}
	</select>
	
	<!-- 获取所有对象列表 -->
	<select id="getCount" resultType="Integer">
		select count(*) from measurement_type where type_name = #{name} and measure_type !=#{id}
	</select>
	
	<!-- 保存对象方法 -->
	<insert id="save" parameterType="com.labwinner.domain.MeasurementType"
		useGeneratedKeys="true" keyProperty="measureType">
		insert into
		measurement_type(type_name,basic_unit,type_sourece)
		value(#{typeName},
		#{basicUnit},
		#{typeSource})
	</insert>
	
	<!-- 保存对象方法 -->
	<update id="update" parameterType="com.labwinner.domain.MeasurementType">
		update
		measurement_type 
		set
		type_name = #{typeName},
		basic_unit = #{basicUnit}
		where measure_type = #{measureType}
		
	</update>
	
	<delete id="delete" parameterType="Integer">
	    delete from measurement_type where
		measure_type=#{id}
	</delete>

</mapper> 
